
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Panel aministracyjny</h2>
<hr/>
@Html.ActionLink("Zarządzaj uczniami w bazie danych","ManageStudents")
<!--@Html.ActionLink("Zarządzaj uczniami w bazie danych", "AddNewStudent")
@Html.ActionLink("Zarejestruj nauczyciel w bazie danych","RegisterNewTeacher")
@Html.ActionLink("Utwórz nową klasę","RegisterNewClass")
@Html.ActionLink("Zmień dane o uczniu","UpdateStudent")-->
@Html.ActionLink("Zmień dane o nauczycielu","UpdateTeacher")
@Html.ActionLink("Zmień dane dotyczące klasy","UpdateClass")-->


