@model DataServices.ViewModels.SolutionModel

@{
    ViewBag.Title = "StudentSolution";
    Layout = "~/Views/Shared/Teacher.cshtml";
}

<h2>StudentSolution</h2>

<div>
    <h4>SolutionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SolutionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolutionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>


        <dd>
            @Html.ActionLink("Pobierz rozwiązanie", "Download", new { SolutionId = Model.SolutionId })

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension)
        </dd>

    </dl>
</div>
<p>

</p>
