
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("E-Learning", "Main", "MainPage", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if(Session["zalogowany"]!=null)
                    {
                        <li>@Html.ActionLink("Kursy", "#", "#")</li>
                        <li>@Html.ActionLink("Zmień dane profilowe", "EditStudent", "Student")</li>
                        <li>@Html.ActionLink("Przeglądaj swoje kursy", "#", "#")</li>
                        <li>@Html.ActionLink("Podgląd ocen", "#", "#")</li>
                        <li>@Html.ActionLink("Wyloguj się", "Logout", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Administracja", "Index", "DatabaseAction")</li>
                        <li>@Html.ActionLink("Zaloguj się", "Index", "Login")</li>
                    }
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr/>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <footer>
        <p class="col-md-offset-5">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</body>
</html>