@model DataServices.ViewModels.SolutionModel

@{
    ViewBag.Title = "StudentSolution";
    Layout = "~/Views/Shared/Student.cshtml";
}

<h2>Rozwiązanie zadania</h2>

<div>
    <h4>Dane Rozwiązania zadania :  @Html.DisplayFor(model => model.SolutionId) </h4>
    <h4>
        Otrzymana ocena : @Html.Label(Model.Note.ToString())
        
        @if (Model.Note.Value == 1) { @Html.Label("Niedostateczny"); }
        @if (Model.Note.Value == 2) { @Html.Label("Dopuszczający"); }
        @if (Model.Note.Value == 3) { @Html.Label("Dostateczny"); }
        @if (Model.Note.Value == 4) { @Html.Label("Dobry"); }
        @if (Model.Note.Value == 5) { @Html.Label("Bardzo dobry"); }
        @if (Model.Note.Value == 6) { @Html.Label("Celujący"); }
        @if (Model.Note.Value == null) { @Html.Label("Praca nie została oceniona"); }
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SolutionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolutionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>


        <dd>
            @Html.ActionLink("Pobierz rozwiązanie", "Download", new { SolutionId = Model.SolutionId })

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension)
        </dd>

    </dl>
</div>
<p>

</p>
